abel{
    display: block;
    padding: 10px;
}
form
{
    text-align: center;
    background-color: rgb(153, 127, 255);
    margin: 0px 650px 0px 650px;
}
h1{
    text-align: center;
}
#submit
{
    padding: 10px;
}
input[type=submit]{
    background-color: rgb(223, 223, 15);
}
input[type=submit]:hover{
    background-color: rgb(255, 0, 0);
}
